<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestions des questions</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->

    <script src="../gestionQuestion.js" ></script>
    <link type="text/css" href="../gestionQuestion.css" rel="stylesheet">
</head>
<body>

<a href="#" data-toggle="modal" data-target="#CreationRep">Login</a>
<!--- ********************************************************************************************************************** -->
<!-- Modal: modalAbandonedCart-->
<div class="modal fade right" id="CreationRep" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-side modal-bottom-right modal-notify modal-info" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
                <div class="md-form">
                    <label for="NomRepertoire">Nom du répertoire</label>
                    <input type="text" id="NomRepertoire" class="md-textarea form-control" rows="3"/>
                </div>
                <button type="submit" id="modalRep" class="btn btn-info" style="float: right;margin-top: 10px;">Créer repertoire</button>
            </div>
        </div>
    </div>
</div>
<!--- ********************************************************************************************************************** -->


<!-- Modal: modalPoll -->
<div class="modal fade right" id="modalPoll-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead">Feedback request
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>
                    <p>
                        <strong>Your opinion matters</strong>
                    </p>
                    <p>Have some ideas how to improve our product?
                        <strong>Give us your feedback.</strong>
                    </p>
                </div>

                <hr>

                <!-- Radio -->
                <p class="text-center">
                    <strong>Your rating</strong>
                </p>
                <div class="form-check mb-4">
                    <input class="form-check-input" name="group1" type="radio" id="radio-179" value="option1" checked>
                    <label class="form-check-label" for="radio-179">Very good</label>
                </div>

                <div class="form-check mb-4">
                    <input class="form-check-input" name="group1" type="radio" id="radio-279" value="option2">
                    <label class="form-check-label" for="radio-279">Good</label>
                </div>

                <div class="form-check mb-4">
                    <input class="form-check-input" name="group1" type="radio" id="radio-379" value="option3">
                    <label class="form-check-label" for="radio-379">Mediocre</label>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" name="group1" type="radio" id="radio-479" value="option4">
                    <label class="form-check-label" for="radio-479">Bad</label>
                </div>
                <div class="form-check mb-4">
                    <input class="form-check-input" name="group1" type="radio" id="radio-579" value="option5">
                    <label class="form-check-label" for="radio-579">Very bad</label>
                </div>
                <!-- Radio -->

                <p class="text-center">
                    <strong>What could we improve?</strong>
                </p>
                <!--Basic textarea-->
                <div class="md-form">
                    <textarea type="text" id="form79textarea" class="md-textarea form-control" rows="3"></textarea>
                    <label for="form79textarea">Your message</label>
                </div>

            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
                <a type="button" class="btn btn-primary waves-effect waves-light">Send
                    <i class="fa fa-paper-plane ml-1"></i>
                </a>
                <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal: modalPoll -->





<!--- ********************************************************************************************************************** -->

<div class="col-md-7"  id="ExempleRepertoire" style="display: none;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Questions Programmation Objet </h3>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <button type="button" class="btn btn-sm btn-secondary">+ Question</button>
            <button type="button" class="btn btn-lg btn-info btn-block">Comment fonctionne un pointeur intelligent?</button>
        </div>
    </div>
</div>

<div class="container">
    <button type="button" class="btn btn-lg btn-primary btn-create" data-toggle="modal" data-target="#CreationRep" id="CreationRepertoire">+ Repertoire Question</button>
    <div class="row">
        <div class="col-md-7" >
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Questions Programmation Objet </h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-sm btn-secondary">+ Question</button>
                    <button type="button" class="btn btn-lg btn-info btn-block">Comment fonctionne un pointeur intelligent?</button>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Questions MangoDB</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-sm btn-secondary">+ Question</button>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Questions Web Données</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-sm btn-secondary">+ Question</button>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Questions Programmation Système</h3>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                </div>
                <div class="panel-body">
                    <button type="button" class="btn btn-sm btn-secondary">+ Question</button>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>