<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quizz en direct</title>
</head>
<style>
    body {
    padding-top: 90px;
}







</style>


<body>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script type="text/javascript">

</script>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <center><h1 class="text-primary">Bienvenue M.Dupond</h1></center>
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="btn-outline-dark  btn-lg">Créer un salon</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="btn-outline-dark btn-lg ">Gerer vos Questions</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class=" btn-lg btn-outline-dark">Vous Connectez à un Quizz</button>
                        </div>
                    </div>
                    <hr>
                </div>
                <div class="panel-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
