<!DOCTYPE html>
<html>
<head>
    <title>Hello WebSocket</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket@2.3.4-next/lib/stomp.min.js"></script>

  <!--  <script src="/websocket.js"></script>-->
    <script src="/index1.js"></script>
</head>
<body>

<div id="main-content" class="container">
    <h1>Simulation du websocket (l'aspect en Direct)</h1>
    <div class="row">
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label for="connect"> Connection du Salon:</label>
                    <button id="connect" class="btn btn-default" type="submit">Ouvrir le Salon</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Fermer le salon
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <button id="send" class="btn btn-success">Envoyer la question</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p id="greetings"></p>
        </div>
    </div>
</div>
</body>
</html>