<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz en direct</title>
    <link type="text/css" href="../quiz.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../Quiz.js" ></script>
</head>
<body>
<div class="container-fluid bg-info">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>
                    <span class="label label-warning" id="qid">2</span>
                    <span id="enonce1" th:text="${info.questions.get(0)}">Enoncé</span>
                    <span id="timer" class="label label-info" style="float:right;">10</span>
                    <span id="enonce2" th:text="${info.questions.get(1)}" style="visibility: hidden" >Enoncé</span>
                </h3>
            </div>
            <div class="modal-body">
                <div class="col-xs-3 col-xs-offset-5">
                    <div id="loadbar" style="display: none;">
                        <div class="blockG" id="rotateG_01"></div>
                        <div class="blockG" id="rotateG_02"></div>
                        <div class="blockG" id="rotateG_03"></div>
                        <div class="blockG" id="rotateG_04"></div>
                        <div class="blockG" id="rotateG_05"></div>
                        <div class="blockG" id="rotateG_06"></div>
                        <div class="blockG" id="rotateG_07"></div>
                        <div class="blockG" id="rotateG_08"></div>
                    </div>
                </div>

                <div class="quiz" id="quiz2q" data-toggle="buttons" style="display: none;" >
                    <label class="element-animation1 btn btn-lg btn-primary btn-block" th:text="${info.reponses.get(0)}" ><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">Réponse 1</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" th:text="${info.reponses.get(1)}"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2" >Réponse 2</label>
                </div>

                <div class="quiz" id="quiz" data-toggle="buttons" >
                    <label class="element-animation1 btn btn-lg btn-primary btn-block" th:text="${info.reponses.get(2)}" ><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="1">Réponse 1</label>
                    <label class="element-animation2 btn btn-lg btn-primary btn-block" th:text="${info.reponses.get(3)}"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="2" >Réponse 2</label>
                    <label class="element-animation3 btn btn-lg btn-primary btn-block" th:text="${info.reponses.get(4)}"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="3" >Réponse 3</label>
                    <label class="element-animation4 btn btn-lg btn-primary btn-block" th:text="${info.reponses.get(5)}"><span class="btn-label"><i class="glyphicon glyphicon-chevron-right"></i></span> <input type="radio" name="q_answer" value="4" >Réponse 4</label>
                </div>
            </div>
            <div class="modal-footer text-muted">

            </div>
        </div>
    </div>
</div>
</body>
</html>
